.sidebarMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
    color: #eeeeee;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #eeeeee; */
    background-color: #31363f;
    height: 60%;
    width: 85%;
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.015)
    );
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    .categoriesContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .categories {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #eeeeee; */
    background-color: #31363f;
    height: 20%;
    width: 85%;
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.015)
    );
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    .links {
      display: flex;
      flex-direction: column;
    }
  }

  .hireMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #eeeeee; */
    background-color: #31363f;
    height: 10%;
    width: 85%;
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.015)
    );
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
  }
}
