.sidebarMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  color: #eeeeee;

  a {
    text-decoration: none;
    /* color: #eeeeee; */
    color: rgba(238, 238, 238, 0.875);
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(238, 238, 238, 0.75);
    /* opacity: 0.875; */
    width: 80%;

    p {
      padding-bottom: 0.25rem;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #eeeeee; */
    background-color: #31363f;
    height: 50%;
    width: 85%;
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.015)
    );
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    .categoriesContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .title {
        flex: 1.25;
        align-items: end;
      }

      .categories {
        flex: 12;
        display: flex;
        flex-direction: column;
        width: 80%;
        /* border: 1px solid white; */

        .buttons {
          /* border: 1px solid white; */
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          justify-self: start;
          margin-top: 1rem;
          height: 50%;
          gap: 0.5rem;

          a {
            /* border: 1px solid olive; */
            height: 25%;
            display: flex;
            align-items: center;
            padding-left: 0.5rem;
            gap: 0.5rem;
            /* justify-content: center; */

            img {
              width: 25px;
            }
          }
        }
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #eeeeee; */
    background-color: #31363f;
    height: 25%;
    width: 85%;
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.015)
    );
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    .title {
      flex: 1;
      align-items: end;
    }

    .links {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;
      /* border: 1px solid olive; */
      width: 80%;

      a {
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        gap: 0.25rem;
        height: 25%;
      }

      img {
        width: 30px;
      }
    }
  }

  .hireMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #eeeeee; */
    background-color: #31363f;
    height: 10%;
    width: 85%;
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.015)
    );
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    .textAndImageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      /* border: 1px solid rgba(238, 238, 238, 0.75); */
      border-radius: 0.5rem;
      width: 70%;
      height: 50%;
      gap: 0.5rem;
      color: rgba(238, 238, 238, 0.875);
      position: relative;
      background-color: #31363f;
    }

    .textAndImageContainer::after,
    .textAndImageContainer::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-image: conic-gradient(
        from var(--angle),
        transparent 75%,
        #76abae
      );
      border-radius: 0.5rem;
      padding: 2px;
      z-index: -1;
      animation: 3s spin linear infinite;
    }

    .textAndImageContainer::before {
      filter: blur(1.5rem);
      opacity: 0.5;
    }
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
