.homepageContainer {
  width: 100vw;
  height: 100svh;
  background-color: #222831;
  /* background-color: #0B132B; */
  overflow: hidden;
  /* background-image: url("../../../../public/Images/philipp-pilz-AOhBMkQlzgM-unsplash.jpg"); */

  /* background-color: rgba(10, 15, 20, 1); */
  color: #eeeeee;
}
